 body{
    background-color:#121212;
    color:#ffffff;
      }
 *{
   font-family: "helvetica Neue", Helvetica, Arial, sans-serif;
   font-stretch: condensed;
   font-weight: 700;
 }
.link-spotify{
    color: #1DB954;
    text-decoration:none;
}
.link-youtube{
    color: #FF0000;
    text-decoration:none;
}
