 body{
    background-color:#121212 !important;
    color:#ffffff !important;
      }
 *{
   font-family: "helvetica Neue", Helvetica, Arial, sans-serif !important;
   font-stretch: condensed !important;
   font-weight: 700 !important;
 }
.link-spotify{
    color: #1DB954 !important;
    text-decoration:none !important;
}
.link-youtube{
    color: #FF0000 !important;
    text-decoration:none !important;
}
audio {
    width: 320px;
    height: 40px;
    background-color: #000000; 
    border-radius: 0px 
}
audio {
    width: 320px;
    height: 40px;
  -webkit-appearance: none;
    appearance: none;
    background-color: #000000 !important;
    border-radius: 0px !important;
}
